<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Automobile Segment : Insights</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for( 'static', filename='favicon.png')}}" rel="icon">
  <link href="{{url_for( 'static', filename='apple-touch-icon.png')}}" rel="apple-touch-icon">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link href="{{url_for( 'static', filename='bootstrap.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for( 'static', filename='bootstrap-icons.css')}}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="{{url_for( 'static', filename='glightbox.min.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for( 'static', filename='remixicon.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for( 'static', filename='swiper-bundle.min.css')}}" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="{{url_for( 'static', filename='style.css')}}" rel="stylesheet" type="text/css">

  <!-- =======================================================
  * Template Name: Gp - v4.7.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="{{url_for('index')}}">AIA<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Maker's Perspective</a></li>
          <li><a class="nav-link scrollto" href="#services">Customers 2.0</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Quick Overview</a></li>
          <li><a class="nav-link scrollto" href="#team">Most Recent Launches</a></li>
          <li class="nav-link scrollto"><a href="#cta"><span>Predictions</span></a>
            
          </li>
          <li class="nav-link scrollto"><a href="#testimonials"><span>Launch Time<br>& Queries</span></a>
            
          </li>
          <li><a class="nav-link scrollto" href="#footer">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
  <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">
      
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Automobile Data Analysis</h1>
          <h2>A comphrehsive study of the Indian marketplace</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="#counts">Analysis 2022</a></h3>
          </div>
        </div>
        
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for( 'static', filename='about.png')}}"  alt="" 
            style="position: relative;margin-top: -300px; left: -20px;width: 700px;height: 700px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Time to dive in to the Red Ocean : The Disruptive Market Trends</h3>
            <p class="fst-italic">
              The fast growth of the shared mobility market has demonstrated not just the benefits of asset-light business models, but also their capacity to scale globally.
               As a result, these newcomers are demonstrating that the automobile industry's capital-intensive character, which formerly acted as a barrier to entrance, is now becoming a liability.
<br>
New criteria for urban and individual mobility based on asset usage have also ushered in a slew of new players, ranging from journey planners to mobility aggregators, all of which provide consumers
 a single-point interface for planning, booking, and paying for all types of transportation. In short, disruption has become critical to the mobility ecosystem's rapid evolution.
 <br>
 The time has came for the automakers to switch to the non-conventional manufacturing areas.
 Explore the Non-Conventioanal Changing market trend.
 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/features.png");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <h3>Time for an Evolution in the Conventional Sector</h3>
              <p>Indian Automobile Marketplace is evolving day-by-day and the number of players in the sector 
                increasing every year .Technologies such as bluetooth,sensors , steering tilt etc. are now available starting
                from the base variant . Automobiles have started merging with the IN-HOUSE technologies such as mobiles and laptops
                .Online tracking , Anti-theft and Over-Speed alert are just another Add-Ons. Even in this Have-It-All marketplace 
                , technologically advanced hardwares such as A Classy Sunroof will make you stand apart in the market.
                 Check out our Technological Variations data analysis for the insights what 
                the industry is already doing and what is the correct technology for different segments of cars. 
              </p>
            </div>
            
           
            
          </div>
        </div>

      </div>
    </section>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{url_for( 'static', filename='leader.png')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Spotlighting : The Leader's Key to Success
            </h3>
            <p class="fst-italic">
              Automobile Manufaturing has seen decades of success and revolutions in its lifespan in India. Numerous companies were started and shut down during this tenure while some companies started and 
              made their way to this modern marketplace by ADAPTING to the market needs in every decade . 
<br>
The production line has to be altered based on the customer behaviour and likeliness of a variant , models based on the market mood must be figured out . The major types of vehicles in the market represent what
the trend is and helps project the future trend.
 <br>
 The analysis shows the key players of auto industry under various important segments . The analysis has shown the following results.<br>
 <h4>Automobile : Business best practices</h4>
 <ul>
   <li>Analyse the Market Sentiments</li>
   <li>Find a suitable marketplace</li>
   <li>Monitor Customer Behaviour</li>
   <li>Timing to launch and deliver must be perfect</li>
   <li>Adapt with the changing trends</li></ul>
 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Latest Trends in Customer Demands</h2>
          <p>The Changing Customer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for( 'static', filename='ev.png')}}" class="img-fluid" alt=""></div>
              <h4><a href="{{ url_for('home', _anchor='slide11')}}">Electric vehicles will take off</a></h4>
              <p>Customer Sentiment Analysis on <i>"Electric Vehicle" , "No Carbon From cars"</i> 
              . Stock Analysis of Tesla - <i>The EV Giant</i> </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for( 'static', filename='an.png')}}" class="img-fluid" alt=""></div>
              <h4><a href="{{ url_for('home', _anchor='slide6')}}">Match the Customer Metric</a></h4>
              <p>Analysis of Key Features in a "CAR" .
                The modern customer analyses the market and so should a manufacturer.
                 Price | Power | Mileage | Displacement Customer POV analysis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for( 'static', filename='sh.png')}}" class="img-fluid" alt=""></div>
              <h4><a href="{{ url_for('home', _anchor='slide14')}}">Shared Mobility Will Influence Customer Decision</a></h4>
              <p>Study on Customer Behavior based on number of dependents.
                Study on the game change by Ola and Uber.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for( 'static', filename='tx.png')}}" class="img-fluid" alt=""></div>
              <h4><a href="{{ url_for('home', _anchor='slide5')}}">Tax and Subsidies will play a major role</a></h4>
              <p>20-50 % variation on the price based on a single feature . Detailed Study on the tax imposed and its impact on the
                final cost of vehicle which influences a customer's choice .
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for( 'static', filename='lo.png')}}" class="img-fluid" alt=""></div>
              <h4><a href="{{ url_for('home', _anchor='slide16')}}">Credit Availability will increase Affordability</a></h4>
              <p><i>"Loan Gives Power To Buy MORE"</i>Check out the customer segmentation as creditors and Non-creditors.
              Plan associations with banks to encourage growth and more..</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for( 'static', filename='ma.png')}}" class="img-fluid" alt=""></div>
              <h4><a href="{{ url_for('home', _anchor='slide15')}}">Selection of Accurate Marketplace Will Lead To Overall Growth</a></h4>
              <p>Market Research based on "What Sells Where" . The trends of sales in the automobile market in different Indian States.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        
          <h3>Still Not Sure About your product ?</h3>
          <p> See if your product stands VALUE-FOR-MONEY in the market</p>
            <div class="row">
             <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="text-center">
                <form method = "POST" action="{{ url_for('index', _anchor='cta')}}" style="background-color:hsl(183, 76%, 22%)">
                  <h3>Building a MILEAGE BEAST | Analyse</h3>
                  <p>Enter expected mileage <br><input type = "text" name = "vmileage" value="{{value1}}" /></p>
                  <p>Enter expected price <br><input type = "text" name = "vprice" value="{{value2}}" /></p>
                  <p>Market Trend of Mileage at this price  <br><input type = "text" name = "vexp" value="{{value3}}"/></p>
                  <p><input type = "submit" name = "submit" class="cta-btn" style="background-color:hsl(268, 63%, 12%)"> </input></p>
              </form>          
              
  
              </div>
               </div>
               <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="text-center">                    
                  <a class="cta-btn" href="{{ url_for('home', _anchor='slide12')}}">
                    <div class="image11">
                      <img src="{{url_for( 'static', filename='hu.png')}}" class="img-fluid" alt="">
                      </div>
                      
                      <hr>
                    Learn More on Mileage-Price Prediction</a>
                </div>
              </div>
               <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="text-center">
                  <form method = "POST" action="{{ url_for('index', _anchor='cta')}}" style="background-color:hsl(183, 76%, 22%)">
                    <h3>Building a<br> POWER BEAST | <br>Analyse</h3>
                    <p>Enter expected Power<br> <input type = "text" name = "vpow" value="{{value4}}" /></p>
                    <p>Enter expected Price<br> <input type = "text" name = "vpri" value="{{value5}}" /></p>
                    <p>Market Trend of Power at this Price <br> <input type = "text" name = "vexp1" value="{{value6}}"/></p>
                    <p><input type = "submit" name = "submit" class="cta-btn" style="background-color:hsl(268, 63%, 12%)"> </input></p>
                </form>          
              
                
                </div>
              </div>
              
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="text-center">
                 <a class="cta-btn" href="{{ url_for('home', _anchor='slide13')}}">
                  <div class="image11">
                    <img src="{{url_for( 'static', filename='buil.png')}}" class="img-fluid" alt="">
                    </div> 
                    
                      <hr>
                  Learn More on Power-Price Prediction</a>
                </div>
              
            </div>
          </div>
        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Analysis at a glance</h2>
          <p>Quick Overview of the sector</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All Params</li>
              <li data-filter=".filter-app">Preffered Body Type</li>
              <li data-filter=".filter-card">Brand Involvement</li>
              <li data-filter=".filter-web">Fuel Type Distribution</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <main>
                <div id="chart11"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph11 = {{graph11JSON | safe}};
                Plotly.plot("chart11",graph11,{});
                </script>
                
                </main>
              <div class="portfolio-info">
                <h4>Price Vs Power</h4>
                <p>The Price of cars as compared to its power and grouped by body type</p>
                <div class="portfolio-links">
                   <a href="{{ url_for('home', _anchor='slide3')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <main>
                <div id="chart66"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph66 = {{graph66JSON | safe}};
                Plotly.plot("chart66",graph66,{});
                </script>
                </main>
              <div class="portfolio-info">
                <h4>Mileage Vs Torque</h4>
                <p>The Mileage available at a desired torque grouped by fuel type</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide8')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <main>
                <div id="chart33"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph33 = {{graph33JSON | safe}};
                Plotly.plot("chart33",graph33,{});
                </script>
                
                </main>
              <div class="portfolio-info">
                <h4>Vehicle Type Market Composition</h4>
                <p>Composition of Each vehicle as manufactured under different types</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide4')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <main>
                <div id="chart44"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph44 = {{graph44JSON | safe}};
                Plotly.plot("chart44",graph44,{});
                </script>
                
                </main>
              <div class="portfolio-info">
                <h4>Mileage Vs Power Vs Price</h4>
                <p>The Plot of Mileage , Price and Power grouped by Brand </p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide2')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <main>
                <div id="chart101"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph101 = {{graph101JSON | safe}};
                Plotly.plot("chart101",graph101,{});
                </script>
                </main>
              <div class="portfolio-info">
                <h4>Manufacturer VS Sales grouped by Fuel Type</h4>
                <p>The representation of sales data to infer the customer preference of fuel type</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide17')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <main>
                <div id="chart77"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph77 = {{graph77JSON | safe}};
                Plotly.plot("chart77",graph77,{});
                </script>
                
                </main>
              <div class="portfolio-info">
                <h4>Length Vs Width Vs Height</h4>
                <p>The Plot of Length VS Width Vs Height and grouped by Type of Body</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide9')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <main>
                <div id="chart22"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph22 = {{graph22JSON | safe}};
                Plotly.plot("chart22",graph22,{});
                </script>
                
                </main>
              <div class="portfolio-info">
                <h4>Brands Vs Number</h4>
                <p>Plot Of Number of Cars and Manufacturers Grouped By Fuel Type</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide1')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <main>
                <div id="chart88"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph88 = {{graph88JSON | safe}};
                Plotly.plot("chart88",graph88,{});
                </script>
                
                </main>
              <div class="portfolio-info">
                <h4>Type of Transmission and Brand</h4>
                <p>Plot of type of transmission as compared to number of vehicles per brand</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide10')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <main>
                <div id="chart55"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph55 = {{graph55JSON | safe}};
                Plotly.plot("chart55",graph55,{});
                </script>
                </main>
              <div class="portfolio-info">
                <h4>Type of Fuel , Type of Vehicle , Fuel Capacity</h4>
                <p>Plot of the Type of fuel and capacity grouped by vehicle type</p>
                <div class="portfolio-links">
                  <a href="{{ url_for('home', _anchor='slide7')}}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Statistics of the current database under analysis</h3>
              <p>
                The two databases under current analysis are CARS-2022 and IBEF-2022 the detailed study is being done using :-
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="{{toli}}" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Cells</strong> :visited and cleaned by the analysis software</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="{{coli}}" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Columns</strong> :toggled for finding meaningful information</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="{{rowi}}" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Records</strong> :analysed for their place in the modern market</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Graphs</strong> :prepared by our software</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      
      <div class="container" data-aos="zoom-in">
        

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide" data-hash="slide1">
              <h1 style="color:beige">BEST TIME TO LAUNCH YOUR CREATION :</h1>
              <h4 font-color="white">
                <img src="{{url_for( 'static', filename='calen.png')}}" align="left" height="450px" width="450px"><br><br><br><br>
                  Is your product ready to roll ?<br>
                  Are you confused when and how to launch ?<br>
                  Check out our <b><u><div class="itis"><a>Key Dates Analysis</a></div></u></b> to get out from this dilemma . <br>
                  We have a record of all the significances of 365 days based on Cultural importance , Public Holidays , Financial Priviledges and much more . <br>
                  All these factors help to compute the best days to launch the Beast you created .</h4>
              </div>
              <!-- End testimonial item -->

            <div class="swiper-slide" data-hash="slide2">
              <h1 style="color:beige">BEST TIME TO LAUNCH YOUR CREATION :</h1>
              <!-- End testimonial item -->
              <main>
                <div id="chart3"></div>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script type="text/javascript">
                var graph3 = {{graph3JSON | safe}};
                Plotly.plot("chart3",graph3,{});
                </script>
                
                </main><br><br>
                <h4>The Heatmap has been plotted on the basis of the collective data of <B><u>365 days</u></B> for the current year and highlights
                  the days around the year on the basis of their effectiveness to be chosen as the final day to launch/announce your product.Hover over each 
                  column of the Heatmap Calendar to explore the Launch Score of Each Day. <br><br>
                  <ul>
                    <li>A Score of 0 Means no significant occasion</li>
                    <li>As the Score increases the significance increases</li>
                  </ul>
                  <font size="4">*Note: If your pre-bookings wont be available at the time of launch , keep the duration of availability in excess.</font>
                </h4>
            </div>
            <div class="swiper-slide" data-hash="slide3">
              <h1 style="color:beige">Send Us Your Queries Here !!</h1>
              <div class="testimonial-item">
                <div class="login-box">
                  <form method="POST">
                    <div class="user-box">
                      <input type="text" name="Field1_name" required="">
                      <label>Name</label>
                    </div>
                    <div class="user-box">
                      <input type="password" name="Field2_name" required="">
                      <label>Email</label>
                    </div>
                    <div class="user-box">
                      <input type="password" name="Field2_name" required="">
                      <label>Query / Feedback</label>
                    </div>
                    <a href="#">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Submit
                    </a>
                  </form>
                </div>
              </div>
            </div><!-- End testimonial item -->

            

            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Latest</h2>
          <p>Most recent cars launch</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <div class="imagecar">
                  <div class="middletext">
                  <div class="text11">Launched On : 19th May</div>
                  </div>
                 <div class="image11">
                <img src="{{url_for( 'static', filename='land_rover.webp')}}" class="img-fluid" alt="">
                </div>
                </div>
              <div class="member-info">
                <h4>Land Rover Range Rover Sport</h4>
                <span>&#8377 1.64 Crore</span>
              </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <div class="imagecar">
                  <div class="middletext" >
                    <div class="text11" style="background-color:#575345;"">Launched On : 19th May</div>
                    </div>
                <div class="image11">
                <img src="{{url_for( 'static', filename='car_2.webp')}}" class="img-fluid" alt="">
                </div>
                </div>
              </div>
              <div class="member-info">
                <h4>Jeep Meridian</h4>
                <span>&#8377 29.20 Lakh</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <div class="imagecar">
                  <div class="middletext">
                    <div class="text11" style="background-color:#000e2a;">Launched On : 11th May</div>
                    </div>
                <div class="image11">
                <img src="{{url_for( 'static', filename='car_3.webp')}}" class="img-fluid" alt="">
                </div>
                </div>
              </div>
              <div class="member-info">
                <h4>Tata Nexon EV Max</h4>
                <span>&#8377 17.74 Lakh</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <div class="imagecar">
                  <div class="middletext">
                    <div class="text11" style="background-color:#817e81;">Launched On : 10th May</div>
                    </div>
                <div class="image11">
                <img src="{{url_for( 'static', filename='car_4.webp')}}" class="img-fluid" alt="">
                </div>
                </div>
              </div>
              <div class="member-info">
                <h4>Mercedes-Benz-C-Class</h4>
                <span>&#8377 55.00 Lakh</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>AIA<span>.</span></h3>
              <p>
                Siddharth Vihar<br>
                Ghaziabad,201009<br><br>
                <strong>Phone:</strong> +91 9319310119<br>
                <strong>Email:</strong> aakashagrawal2710@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Subscribe</h4>
            <p>Get our analysis report every quarter on your E-mail</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AIA</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Aakash Agrawal</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='purecounter.js') }}"></script>
  
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='validate.js') }}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <!-- Template Main JS File -->
  
  <script src="{{ url_for('static', filename='main.js') }}"></script> 

</body>

</html>